{% extends 'general/base.html' %}

{% load static %}

{% block body %}
    <!-- Form for bulk generation -->
    <form method="post" action="{% url 'generate_bulk_ai_images' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Generate AI Images for All Cards</button>
    </form>
<div class="gallery">
    {% for card in cards %}
        <div class="card-container" id="card-{{ card.id }}">
             <!-- Edit Card Form -->
             <form method="post" action="{% url 'generate_ai_images' %}" class="ai-image-form">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <input type="hidden" name="deck_name" value="{{ card.deck }}">
                <input type="hidden" name="meaning" value="{{ card.meaning }}">
                <input type="hidden" name="full_ipa" value="{{ card.full_ipa }}">
                <input type="hidden" name="word" value="{{ card.word }}">
                <input type="hidden" name="sentenceforeign" value="{{ card.sentenceforeign }}">
                <input type="hidden" name="sentenceeng" value="{{ card.sentenceeng }}">
                <div class="form-group">
                    <label># Images (1-3):</label>
                    <input type="number" name="numimages" min="1" max="4" value="2">
                </div>
                <div class="form-group">
                    <select name="style_preset" id="style_dropdown">
                        <option value="None">None</option>
                        <option value="Enhance">Enhance</option>
                        <option value="Photographic">Photographic</option>
                        <option value="Digital Art">Digital Art</option>
                        <option value="Comic Book">Comic Book</option>
                        <option value="Fantasy Art">Fantasy Art</option>
                        <option value="Line Art">Line Art</option>
                        <option value="Analog Film">Analog Film</option>
                        <option value="Neon Punk">Neon Punk</option>
                        <option value="Isometric">Isometric</option>
                        <option value="Low Poly">Low Poly</option>
                        <option value="Origami">Origami</option>
                        <option value="Modeling Compound">Modeling Compound</option>
                        <option value="Cinematic">Cinematic</option>
                        <option value="3D Model">3D Model</option>
                        <option value="Pixel Art">Pixel Art</option>
                        <option value="Tile Texture">Tile Texture</option>

                        <!-- Add more options as needed -->
                    </select>
                </div>
                <div class="form-group">
                    <label>Positive Prompt:</label>
                    <input type="text" name="positive_prompt" value="{{ card.word }}">
                </div>
                <div class="form-group">
                    <label>Negative Prompt:</label>
                    <input type="text" name="negative_prompt" value="blurry, bad">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Generate AI Images</button>
            </form>
             <form method="post" action="{% url 'my_cards' %}" class="edit-card-form">
                {% csrf_token %}
                <input type="hidden" name="card_id" value="{{ card.id }}">
                <div class="form-group">
                    <label>Word:</label>
                    <input type="text" name="word" value="{{ card.word }}">
                </div>
                <div class="form-group">
                    <label>Approximation:</label>
                    <input type="text" name="approximation" value="{{ card.approximation }}">
                </div>
                <div class="form-group">
                    <label>Sentence (English):</label>
                    <input type="text" name="sentenceeng" value="{{ card.sentenceeng }}">
                </div>
                <div class="form-group">
                    <label>Meaning:</label>
                    <input type="text" name="meaning" value="{{ card.meaning }}">
                </div>
                <div class="form-group">
                    <label>Sentence (Foreign):</label>
                    <input type="text" name="sentenceforeign" value="{{ card.sentenceforeign }}">
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Update</button>
            </form>

            <div class="image-container">
                <img src="{{ card.front_image_url }}"> <!-- Front image without onclick event -->
                <img src="{{ card.back_image_url }}" onclick="setPrimaryImage('{{ card.id }}', '{{ card.back_image_url }}')"> <!-- Back image with onclick event -->
                {% for image_path in card.image_paths %}
                <img src="{{ image_path }}" onclick="setPrimaryImage('{{ card.id }}', '{{ image_path }}')"> <!-- Other images with onclick event -->
                {% endfor %}
            </div>
        </div>
    {% endfor %}
                
</div>
{% endblock %}

{% block extra_js %}
<style>
        .edit-card-form button {
        width: 40%;  /* Adjusted width */
        padding: 10px;
        margin-top: 10px;
    }
 .gallery {
        width: 100%;
        max-width: 2000px;
        margin: auto;
        padding: 10px;
    }
    .card-container {
        display: flex;
        align-items: start;
        width: 90%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }
    .word-container {
        width: 15%;
        margin-right: 0px;
        font-size: 25px;
        font-weight: bold;   
    }
    .image-container {
        flex: 1;  /* Assign flex-grow */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 20px; /* Add some space between images and form */
    }
    .image-container img {
        width: 40%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        transition: transform 0.3s ease;
    }
    .image-container img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }
    #notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: none;
    }
    .edit-card-form {
        flex: 1;  /* Assign flex-grow */
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px; /* Set a max-width to the form */
    }
    .edit-card-form .form-group {
        width: 50%;
        margin-bottom: 10px;
    }
    .edit-card-form .form-group label {
        display: block;
        margin-bottom: 5px;
    }
    .edit-card-form .
    form-group input[type="text"] {
    width: 100%;
    padding: 8px;
    }
    .edit-card-form button[type="submit"] {
        width: 25%;  /* Adjusted width */
        padding: 10px;
        margin-top: 10px;
    }
</style>


<script>
    function setPrimaryImage(cardId, imageUrl) {
        // Extract the filename from the imageUrl
        const urlParts = imageUrl.split('/');
        const filename = urlParts[urlParts.length - 1].split('?')[0]; // Assuming the URL might have query parameters

        // Send a POST request to update the primary image with just the filename
        fetch("{% url 'set_primary_image_view' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({cardId: cardId, imagePath: filename})
        })
        .then(response => response.json())
        .then(data => {
            // You can add some code here to handle the response
            console.log(data);
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
    
    function showNotification(message, type) {
        const notification = document.getElementById('notification');
        notification.innerText = message;
    
        // Clear any previous styles
        notification.style.backgroundColor = '';
        
        if (type === 'success') {
            notification.style.backgroundColor = '#4CAF50'; // Green for success
        } else if (type === 'error') {
            notification.style.backgroundColor = '#f44336'; // Red for error
        }
    
        notification.style.display = 'block';
        setTimeout(() => { notification.style.display = 'none'; }, 3000);
    }
    </script>
    <div id="notification"></div>
    {% endblock %}
    
