{% extends 'general/base.html' %}

{% load static %}

{% block body %}
    <!-- Form for bulk generation -->
    <form method="post" action="{% url 'generate_bulk_ai_images' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Generate AI Images for All Cards</button>
    </form>
    <div class="gallery">
        {% for card in cards %}
            <div class="card-container" id="card-{{ card.id }}">
                <!-- Edit Card Form -->
                <form method="post" action="{% url 'generate_ai_images' %}" class="ai-image-form">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ card.id }}">
                    <input type="hidden" name="deck_name" value="{{ card.deck }}">
                    <input type="hidden" name="meaning" value="{{ card.meaning }}">
                    <input type="hidden" name="full_ipa" value="{{ card.full_ipa }}">
                    <input type="hidden" name="word" value="{{ card.word }}">
                    <input type="hidden" name="sentenceforeign" value="{{ card.sentenceforeign }}">
                    <input type="hidden" name="sentenceeng" value="{{ card.sentenceeng }}">
                    <div class="form-group">
                        <label># Images (1-3):</label>
                        <input type="number" name="numimages" min="1" max="4" value="2">
                    </div>
                    <div class="form-group">
                        <label for="engine_id">Engine:</label>
                        <select name="engine_id" id="engine_id">
                            <option value="stable-diffusion-xl-1024-v1-0">Stable Diffusion XL 1.0</option>
                            <option value="stable-diffusion-v1-6">Stable Diffusion 1.6</option>
                            <option value="stable-diffusion-xl-1024-v0-9">Stable Diffusion XL 0.9</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="style_preset">Style Preset:</label>
                        <select name="style_preset" id="style_preset">
                            <option value="3d-model">3D Model</option>
                            <option value="analog-film">Analog Film</option>
                            <option value="anime">Anime</option>
                            <option value="cinematic">Cinematic</option>
                            <option value="comic-book">Comic Book</option>
                            <option value="digital-art">Digital Art</option>
                            <option value="enhance">Enhance</option>
                            <option value="fantasy-art">Fantasy Art</option>
                            <option value="isometric">Isometric</option>
                            <option value="line-art">Line Art</option>
                            <option value="low-poly">Low-Poly</option>
                            <option value="modeling-compound">Modeling Compound</option>
                            <option value="neon-punk">Neon Punk</option>
                            <option value="origami">Origami</option>
                            <option value="photographic">Photographic</option>
                            <option value="pixel-art">Pixel Art</option>
                            <option value="tile-texture">Tile Texture</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="sampler">Sampler:</label>
                        <select name="sampler" id="sampler">
                            <option value="DDIM">DDIM</option>
                            <option value="PLMS">PLMS</option>
                            <option value="K_EULER">K_EULER</option>
                            <option value="K_EULER_ANCESTRAL">K_EULER_ANCESTRAL</option>
                            <option value="K_HEUN">K_HEUN</option>
                            <option value="K_DPM_2">K_DPM_2</option>
                            <option value="K_DPM_2_ANCESTRAL">K_DPM_2_ANCESTRAL</option>
                            <option value="K_DPMPP_2S_ANCESTRAL">K_DPMPP_2S_ANCESTRAL</option>
                            <option value="K_LMS">K_LMS</option>
                            <option value="K_DPMPP_2M">K_DPMPP_2M</option>
                            <option value="K_DPMPP_SDE">K_DPMPP_SDE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="clip_guidance">Clip Guidance Preset:</label>
                        <select name="clip_guidance" id="clip_guidance">
                            <option value="FAST_BLUE">FAST_BLUE</option>
                            <option value="NONE">NONE</option>
                            <option value="FAST_GREEN">FAST_GREEN</option>
                            <option value="SIMPLE">SIMPLE</option>
                            <option value="SLOW">SLOW</option>
                            <option value="SLOWER">SLOWER</option>
                            <option value="SLOWEST">SLOWEST</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dimensions">Dimensions:</label>
                        <select name="dimensions" id="dimensions" onchange="updateDimensions()">
                            <option value="sdxlb">SDXL Beta: 512x896</option>
                            <option value="sdxlv09">SDXL v0.9: 896x1152</option>
                            <option value="sdxlv10">SDXL v1.0: 896x1152</option>
                            <option value="sdv10">SD v1.0: 896x1152</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Positive Prompt:</label>
                        <input type="text" name="positive_prompt" value="{{ card.word }}">
                    </div>
                    <div class="form-group">
                        <label>Negative Prompt:</label>
                        <input type="text" name="negative_prompt" value="blurry, bad">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Generate AI Images</button>
                </form>
                <form method="post" action="{% url 'my_cards' %}" class="edit-card-form">
                    {% csrf_token %}
                    <input type="hidden" name="card_id" value="{{ card.id }}">
                    <div class="form-group">
                        <label>Word:</label>
                        <input type="text" name="word" value="{{ card.word }}">
                    </div>
                    <div class="form-group">
                        <label>Approximation:</label>
                        <input type="text" name="approximation" value="{{ card.approximation }}">
                    </div>
                    <div class="form-group">
                        <label>Sentence (English):</label>
                        <input type="text" name="sentenceeng" value="{{ card.sentenceeng }}">
                    </div>
                    <div class="form-group">
                        <label>Meaning:</label>
                        <input type="text" name="meaning" value="{{ card.meaning }}">
                    </div>
                    <div class="form-group">
                        <label>Sentence (Foreign):</label>
                        <input type="text" name="sentenceforeign" value="{{ card.sentenceforeign }}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                </form>

            <div class="image-container">
                <img src="{{ card.front_image_url }}"> <!-- Updated to use presigned URL -->
                <img src="{{ card.back_image_url }}" onclick="setPrimaryImage('{{ card.id }}', '{{ card.back_image_url }}')"> <!-- Back image with onclick event -->
                {% for image_path in card.image_paths %}  
                <img src="{{ image_path }}" onclick="setPrimaryImage('{{ card.id }}', '{{ image_path }}')"> <!-- Updated to use presigned URL -->
                {% endfor %}
            </div>
        </div>
    {% endfor %}
                
</div>
{% endblock %}

{% block extra_js %}
<style>
    .edit-card-form button {
        width: 40%;
        padding: 10px;
        margin-top: 10px;
    }

    .gallery {
        width: 100%;
        max-width: 2000px;
        margin: auto;
        padding: 10px;
    }

    .card-container {
        display: flex;
        align-items: start;
        width: 90%;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .word-container {
        width: 15%;
        margin-right: 0px;
        font-size: 25px;
        font-weight: bold;
    }

    .image-container {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 20px;
    }

    .image-container img {
        width: 40%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        transition: transform 0.3s ease;
    }

    .image-container img:hover {
        transform: scale(1.05);
        cursor: pointer;
    }

    #notification {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border-radius: 5px;
        display: none;
    }

    .edit-card-form {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 270px;
    }

    .edit-card-form .form-group {
        width: 50%;
        margin-bottom: 10px;
    }

    .edit-card-form .form-group label {
        display: block;
        margin-bottom: 5px;
    }

    .edit-card-form .form-group input[type="text"] {
        width: 100%;
        padding: 8px;
    }

    .edit-card-form button[type="submit"] {
        width: 25%;
        padding: 10px;
        margin-top: 10px;
    }
</style>

<script>
    function setPrimaryImage(cardId, imageUrl) {
        const urlParts = imageUrl.split('/');
        const filename = urlParts[urlParts.length - 1].split('?')[0];

        fetch('/update_primary_image/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ cardId: cardId, imagePath: filename })
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    showNotification('Primary image updated successfully.', 'success');
                } else {
                    showNotification('Failed to update primary image.', 'error');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                showNotification('An error occurred.', 'error');
            });
    }

    function showNotification(message, type) {
        const notification = document.getElementById('notification');
        notification.innerText = message;

        notification.style.backgroundColor = '';

        if (type === 'success') {
            notification.style.backgroundColor = '#4CAF50';
        } else if (type === 'error') {
            notification.style.backgroundColor = '#f44336';
        }

        notification.style.display = 'block';
        setTimeout(() => { notification.style.display = 'none'; }, 3000);
    }

    function updateDimensions() {
        var selectedOption = document.getElementById("dimensions").value;
        var hdim, vdim;

        switch (selectedOption) {
            case "sdxlb":
                hdim = 512;
                vdim = 896;
                break;
            case "sdxlv09":
            case "sdxlv10":
            case "sdv10":
                hdim = 1152;
                vdim = 896;
                break;
            default:
                // Handle the default case if needed
                break;
        }

        document.getElementById("hdim_input").value = hdim;
        document.getElementById("vdim_input").value = vdim;

        document.querySelector(".ai-image-form").submit();

        console.log("Selected Dimensions: " + hdim + "x" + vdim);
    }
</script>
<div id="notification"></div>
{% endblock %}
